<%- include('layouts/main.ejs') %>

<div class="segmentacion-12 cuerpo-centrado box-shadow-tenue">
    <section class="imagen-bienvenida">
        <h2>Escanea la guía para registrar entrada a la sucursal</h2>
    </section>
    <section class="texto-derecho">
        <form class="" id="direccion" action="" method="post">
            <input type="text" class="busqueda" id="rastreo" name="guianum" placeholder="Número de guía">
            <button type="submit" onclick="registrarentrada()" class="btn-submit">Escan</button>
        </form>
    </section>
</div>

<script src="/javaScript/generador.js"></script>

    

<%- include('layouts/footer.ejs') %>