<%- include('layouts/main.ejs') %>
<div class="segmentacion-12">
    <section class="imagen-bienvenida">

    </section>
    <section class="texto-derecho">
        <input type="text" class="busqueda" placeholder="Número de guía">
        <a href="" class="btn-submit">Rastrear</a>
    </section>

</div>
<%- include('layouts/footer.ejs') %>