<%- include('layouts/main.ejs') %>

<section class="imagen-bienvenida">

</section>
<section class="texto-derecho">
    <input type="text" class="busqueda" placeholder="Número de guía">
    <a href="" class="btn-submit">Rastrear</a>
</section>


<h1 class="n-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti neque 
    eligendi, vel repudiandae, molestiae autem asperiores beatae aliquam q
    uisquam necessitatibus rem quasi facilis, rerum nesciunt cupiditate alias maxime mollitia earum.</h1>
    <h1 class="n-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, sint pariatur! Quas provident,
         reprehenderit
         excepturi dicta optio repellat nihil et velit quis, vero vel rem, libero delectus a corrupti magnam!
    </h1>
<%- include('layouts/footer.ejs') %>