<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Iniciar sesión</title>
</head>
<body>
    <div class="container-signin justify-content-center">
        <div class="recuadro-signin box-shadow grid-logo-formulario bg-white">
            <div class="logo-signin one justify-content-center">
                <img src="images/logo_large.png" alt="">
            </div>
            <div class="formulario-signin two">

                <form action="/signup" method="post" class="flex-direction-row w-3 w-100">
                    <input name="email" class="input-text" type="text" placeholder="Correo electrónico" required>
                    <input name="password" class="input-text" type="password" placeholder="Contraseña" required>
                    <input name="name" class="input-text" type="text" placeholder="Nombre" required>
                    <input name="phonenumber" class="input-text" type="text" placeholder="Número de Teléfono" required>
                    <label for="">Sucursal</label>
                    <select class="input-text" name="sucursal" required>
                        <% Sucursal.forEach(function(sucursal) { %>
                            <option><%= sucursal.nombre%> </option>
                        <% }); %>
            
                    </select>
                    <label for="">Puesto</label>
                    <select class="input-text" aria-placeholder="Puesto" name="puesto" required>
                        <% Puesto.forEach(function(puesto) { %>
                            <option><%= puesto.nombre%> </option>
                        <% }); %>
            
                    </select>
                    <button type="submit" href="" class="btn-submit">Registrar nuevo usuario</button>
            
                </form>
            </div>
        </div>
    </div>
</body>
</html>