<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container-signin justify-content-center">
        <div class="recuadro-signin box-shadow grid-logo-formulario bg-white">
            <div class="logo-signin one justify-content-center">
                <img src="images/logo_large.png" alt="">
            </div>
            <div class="formulario-signin two">
                <form action="" class="flex-direction-row w-3 w-100">
                    <input class="input-text" type="text" placeholder="Correo electrónico">
                    <input class="input-text" type="text" placeholder="Contraseña">
                    <a href="" class="btn-submit">Ingresar</a>
                    <a href="/">Cónocenos y rastrea tú guía</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>