<%- include('layouts/main.ejs') %>

<div class="cuerpo-centrado box-shadow-tenue segmentacion-12">
    <h1 class="titulo-inventario">Sucursales</h1>
    <a class="redireccion agregar" href="/agregar-sucursal">Agregar</a>
    <div class="seccion-tabla segmentacion-12">

            
       
    </div>
</div>

<%- include('layouts/footer.ejs') %>