<%- include('layouts/main.ejs') %>
<div class="cuerpo-centrado box-shadow-tenue">
    <div class="contenedor-informacion segmentacion-12">
        <div class="imagen-profile">
            <img src="/images/logo_small_icon_only.png" alt="">
        </div>
        <div class="informacion-profile">
            <h1 class="info-guia"><%= Guia.estado%></h1>
        </div>
    </div>
</div>

    

<%- include('layouts/footer.ejs') %>