<%- include('layouts/main.ejs') %>
<div class="cuerpo-centrado box-shadow-tenue">
    <div class="contenedor-informacion segmentacion-12">
        <div class="imagen-profile">
            <img src="/images/logo_small_icon_only.png" alt="">
        </div>
        <div class="informacion-profile">
            <div class="segmentacion-12 n-4">

                <table class="tabla-inventario box-shadow-tenue">
                    <tr class="titulo-tabla">
                        <td>Estado del paquete</td>
                
                    </tr>
                    <% Guia.estate.map((guia)=>{ %>
                    <tr class="cuerpo-tabla">
                        <td><%= guia %></td>
                  
                    </tr>
                    <% }); %> 
                  </table>     
            
            </div>
            <p class="info-guia">
              

            </p>
        </div>
    </div>
</div>

    

<%- include('layouts/footer.ejs') %>