    <footer class="footer segmentacion-12">
        <div class="logos-footer justify-content-center">
            <img src="/images/logo_small_icon_only.png" alt="">
        </div>
        <div class="info-footer  justify-content-center" style="color:white">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tempore quidem sunt in eum sint qui accusamus amet vel? Obcaecati, voluptates. Alias placeat doloribus sunt laboriosam soluta odio at libero.
        </div>
    </footer>
    </div>
</body>
</html>