    <footer class="footer segmentacion-12">
        <div class="logos-footer justify-content-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
             quos doloribus ad temporibus labore reiciendis maiores molestiae consequuntur, 
            facere illo, odio odit? Dolorum neque adipisci sint autem reiciendis iste blanditiis.
        </div>
        <div class="info-footer  justify-content-center">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tempore quidem sunt in eum sint qui accusamus amet vel? Obcaecati, voluptates. Alias placeat doloribus sunt laboriosam soluta odio at libero.
        </div>
    </footer>
    </div>
</body>
</html>